.cli-copy {
    background-color: transparent;
    padding: var(--space-3xs);
    border: var(--space-4xs) dotted var(--rose-500);
    display: flex;
    align-items: center;
    gap: var(--space-3xs);
}

.cli-copy:hover {
    background-color: var(--neutral-950);
}

.cli-copy[data-click-success="true"] [data-copy-icon] {
    display: none;
}

.cli-copy[data-interacted] {
    border-color: var(--green-500);
}

.cli-copy[data-click-success="false"] [data-copy-success] {
    display: none;
}