---
import { JSChunk } from "@components/home/js-chunk/js-chunk";
import Layout from "src/layouts/Layout.astro";
---

<Layout title="Qwik + Astro">
  <div class="grid-line" aria-hidden="true"></div>
  <main>
    <div class="intro">
      <h1>
        <span class="qwik">QWIK</span>
        <span class="astro">ASTRO</span>
      </h1>

      <JSChunk />

      <span
        >Zero hydration. Zero compromise. The only instantly interactive UI
        framework that's HTML and server-first, just like Astro.</span
      >

      <div>
        <button>Copy CLI command</button>
        <a href="/docs">Explore the docs</a>
      </div>
    </div>
  </main>
  <div class="grid-line" aria-hidden="true"></div>
</Layout>

<style>
  .grid-line {
    width: 100%;
    height: 1px;
    background-color: var(--neutral-950);
  }

  .intro {
    margin: 0 auto;
    max-width: 1240px;
    border-inline: 1px solid var(--neutral-950);
    padding: var(--space-m);
  }

  .intro .subheading {
    font-size: var(--step-2);
  }

  .intro h1 span {
    font-size: var(--step-5);
    display: block;
  }

  .intro h1 {
    display: flex;
    gap: 20px;
  }

  .intro span {
    font-size: var(--step-1);
  }

  .intro button {
    background-color: transparent;
    padding: var(--space-3xs);
    border: var(--space-4xs) dotted var(--rose-500);
  }
</style>
