---
import Layout from "@layouts/Layout.astro";
import Dashboard from "@layouts/home/Dashboard.astro";
import Hero from "@layouts/home/Hero.astro";
---

<Layout title="Qwik + Astro">
  <main>
    <Hero />
    <Dashboard />
  </main>
</Layout>
