---
import { CLICopy } from "@components/home/cli-copy/cli-copy";
import { Icon } from "astro-icon/components";
import Layout from "src/layouts/Layout.astro";
---

<Layout title="Qwik + Astro">
  <div class="grid-line" aria-hidden="true"></div>
  <main>
    <div class="intro">
      <h1>
        {
          "QWIK ASTRO".split("").map((letter, i) => (
            <span
              class="letter"
              style={`animation-delay: ${i * 0.15}s; ${letter === "K" && "margin-right: var(--space-s); display: block"}`}
            >
              {letter}
            </span>
          ))
        }
      </h1>

      <span
        >Zero hydration. Zero compromise. The only instantly interactive UI
        framework that's HTML and server-first, just like Astro.</span
      >

      <div class="navigation">
        <CLICopy>
          <span data-copy-icon><Icon name="tabler:clipboard-text" /></span>
          <span data-copy-success><Icon name="tabler:clipboard-check" /></span>
        </CLICopy>
        <a href="/docs">Explore the docs</a>
      </div>
    </div>
  </main>
  <div class="grid-line" aria-hidden="true"></div>
</Layout>

<style>
  h1 {
    margin-block: var(--space-m);
    display: flex !important;
  }

  .grid-line {
    width: 100%;
    height: 1px;
    background-color: var(--neutral-950);
  }

  .intro {
    margin: 0 auto;
    max-width: 1240px;
    border-inline: 1px solid var(--neutral-950);
    padding: var(--space-m);
  }

  .intro .subheading {
    font-size: var(--step-2);
  }

  .intro h1 span {
    font-size: var(--step-5);
    display: block;
  }

  .intro h1 {
    display: flex;
  }

  .intro > span {
    font-size: var(--step-1);
    margin-block: var(--space-m);
    display: block;
    animation: fade-in 0.5s forwards;
    animation-delay: 2s;
    opacity: 0;
  }

  .navigation {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-xs);
  }

  .letter {
    display: inline-block;
    opacity: 0;
    animation: fade-in 0.5s forwards;
    animation-timing-function: cubic-bezier(0.8, -0.4, 0.5, 1);
  }

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(var(--space-xs));
      filter: blur(8px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
      filter: blur(0);
    }
  }
</style>
