---

---

<div class="dashboard">
  <h2>Dashboard</h2>
</div>

<style>
    .dashboard {
      margin: 0 auto;
      max-width: var(--breakpoint-xl);
      border-inline: 1px solid var(--neutral-950);
      padding: var(--space-m);
      padding-block: var(--space-xl);
    }
</style>
