---
import Layout from "./layout.astro";
import { Counter as NativeCounter } from "@components/qwik/counter";
---

<Layout>
  <div style={{ height: "1000px" }}>
    <NativeCounter initial={2} />

    <a href="/route-a">Route A</a>
    <a href="/route-b">Route B</a>
  </div>
</Layout>