---
import { Counter } from "@components/qwik/counter";
import { SayHi } from "@components/qwik/say-hi";
import { ReactCounter } from "@components/react/react-counter";

// testing123
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<div style={{ height: '1000px' }}>
			<Counter initial={5} />
			<SayHi />
			<ReactCounter client:only="react" />
		</div>
	</body>
</html>